<script type="text/tpl" id="section-help-tpl">
<div>Etiqueta: <%= tag %></div>
<div>Id: <%= id %></div>
<div>Clases: <%= classes %></div>
</script>
<script type="text/tpl" id="section-element-tpl">
<li><%= type %> (<%= tag %>)<a href="#">&times;</a></li>
</script>
