<script type="text/tpl" id="section-help-tpl">
<span>Etiqueta: <strong><%= tag %></strong></span> 
</script>
<script type="text/tpl">
<span>Id: <strong><%= id %></strong></span> 
<span>Clases: <strong><%= classes %></strong></span>
</script>
<script type="text/tpl" id="section-element-tpl">
<li><%= type %> (<%= tag %>)<a href="#">&times;</a></li>
</script>
