{% extends "CommtoolTemplateBundle::base.html.twig" %}

{% block content %}
<div id="html-content" class="bordered">
    {{ include('CommtoolTemplateBundle::template_test.html.twig') }}
</div>
<div id="sections" class="bordered lateral">
    {{ render(controller('CommtoolTemplateBundle:Section:index')) }}
</div>
<div class="bordered lateral">
    <h4>Secciones del Template</h4>
    <ul id="sections-template"></ul>
</div>
<div style="display: none" id="dialog-edit">
    <div class="section-element1"></div>
</div>
<div id="help">
</div>
{% include 'CommtoolTemplateBundle::templates.tpl.twig' %}
{% endblock %}